<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <style>
            .correct{

                box-shadow: 0 0 10px  green;

            }

            .correct:focus{
                box-shadow: 0 0 10px  green;
            }







            .invalidText{
                box-shadow: 0 0 10px red;

            }

        </style>
    </head>

    <body class="container col-sm-12 col-md-10 col-lg-9 " style="background-color:#F2F2F2;align-items: center">


        <form class="" method="post" th:object="${Usuario}" th:action="@{add}" style="margin:2rem; flex-direction: column">

            <input type="hidden" th:field="${Usuario.idUsuario}">
            <!--a veces da -1 y otras 1-->
            <input type="hidden" th:field="${Usuario.Direcciones[0].idDireccion}">



            <!--SECCION DEL USUARIO-->
            <section class="container" style="" th:if="${(Usuario.idUsuario == 0 && Usuario.direcciones[0].idDireccion == 0) || (Usuario.idUsuario !=0 && Usuario.direcciones[0].idDireccion == -1)  }">
                <center>
                    <br>
                    <h1 style="font-family: sans-serif; font-size: 2.5rem; font-weight: bold;
                        text-shadow: 3px 3px 1px #BFC9EB " >AGREGAR USUARIO
                    </h1>
                    <!--<hr>-->
                </center>

                <div class=" row" style="">

                    <span class="container">
                        <i class="bi bi-person-circle "></i>
                        <b>Nombres:</b>
                    </span>

                    <input type ="text" placeholder="Nombres" class="form-control " th:field="*{nombre}" onkeypress="soloLetras(event, this)" >  

                    <span class="error-message mb-3 " style="font-size: 0.8rem" />
                    <span class="text-danger mb-3 "  th:if="${#fields.hasErrors('nombre')}" th:errors="${Usuario.nombre}" style="font-size: 0.8rem" />

                </div>

                <div class="row" style="" >
                    <span class="fw-bold">Apellidos:</span>

                    <input type="text" class="form-control mb-3" placeholder="Paterno"  th:field="*{apellidoPaterno}" onkeypress="soloLetras(event, this)">
                    <span class="text-danger " style="font-size: 0.8rem" th:if="${#fields.hasErrors('apellidoPaterno')}" th:errors="${Usuario.apellidoPaterno}" />

                    <input type="text" class="form-control" placeholder="Materno" th:field="*{apellidoMaterno}" onkeypress="soloLetras(event, this)">
                    <span class="error-message row" style="font-size: 0.8rem" />
                    <span class="text-danger col-2" style="font-size: 0.8rem;" th:if="${#fields.hasErrors('apellidoMaterno')}" th:errors="${Usuario.apellidoMaterno}" />
                </div>



                <!--<br>-->


                <div class="row mb-3" style="">
                    <span class="fw-bold">
                        <i class="bi bi-envelope"></i> 
                        Correo:

                    </span>

                    <input type="text" class="form-control " placeholder="Correo" th:field="*{email}" onblur="emailValidator(this)">
                    <span class="text-danger " style="font-size: 0.8rem;" th:if="${#fields.hasErrors('email')}" th:errors ='${Usuario.email}' />
                    <span id="emailMessage" ></span>
                </div>


                <div class="row mb-3" style="">
                    <span class="fw-bold">Contraseña:</span>

                    <input type="password" placeholder="contraseña" class="form-control" th:field="*{password}" onblur="passVal(this)">

                    <span class="error-message mb-3 row" style="font-size: 0.8rem" />
                    <span class="text-danger  row" style="font-size: 0.8rem" th:if="${#fields.hasErrors('password')}" th:errors ="${Usuario.password}" />
                </div>




                <div class="row mb-3" style="">

                    <span class="input-group-text fw-bold"> <i class="bi bi-telephone"></i>Telefono:</span>
                    <input type = "number" placeholder="Telefono" class="form-control " th:field="*{telefono}" onblur="validarNumero(this)">

                    <span class="error-message mb-3 row" style="font-size: 0.8rem" />
                    <span class="text-danger  row" style="font-size: 0.8rem" th:if="${#fields.hasErrors('telefono')}" th:errors="${Usuario.telefono}" />

                </div>

                <div class="row" style="">

                    <span class="input-group-text fw-bold" > <i class="bi bi-phone"></i>celular</span>
                    <input type = "number" placeholder="Celular" class="form-control" th:field="*{celular}" onblur="validarNumero(this)">
                    <span class="error-message mb-3 row" style="font-size: 0.8rem" />
                    <span class="text-danger  row" style="font-size: 0.8rem" th:if="${#fields.hasErrors('celular')}" th:errors="${Usuario.celular}"/>
                    <!--<span class="text-danger  row" style="font-size: 0.8rem" th:if="${#fields.hasErrors('telefono')}" th:errors="${Usuario.telefono}" />-->
                </div>





                <br>


                <div class="row mb-3" onmouseleave="validarSexo()" style="">
                    <span class="input-group-text fw-bold ">Sexo:</span>
                    <span class="input-group-text  col-3">Femenino:</span>
                    <div class="input-group-text col-1" style="background-color:#A8BCD1">
                        <input type = "radio" value="F" id="femenino" name="sexo" class="form-check-input mt-0" th:field="*{sexo}"   th:checked="*{sexo == 'F'}">


                    </div>
                    <span class="input-group-text  col-3">Masculino:</span>
                    <div class="input-group-text col-1" style="background:#A8BCD1 ">
                        <input type = "radio" value="M" id="masculino" name="sexo" class="form-check-input mt-0" th:field="*{sexo}" th:checked="*{sexo == 'M'}" >
                    </div>
                </div>



                <div class="row mb-3" style="">
                    <label class="input-group-text fw-bold ">Fecha de Nacimiento:</label>
                    <input type = "date" class="form-control col-sm-8 col-md-6" th:field="*{fechaNacimiento}" onblur="validarNacimiento(this)">
                    <span class="error-message mb-3 row" style="font-size: 0.8rem" />
                    <span class="text-danger  row" style="font-size: 0.8rem"  th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors='${Usuario.fechaNacimiento}'/>

                </div>






                <div class="row" style="">
                    <label class="input-group-text fw-bold">CURP:</label>
                    <input type = "text" placeholder="CURP" class="form-control col-10" th:field="*{curp}" onblur="validarCurp(this)"> 
                    <span class="error-message mb-3 row" style="font-size: 0.8rem" />
                    <span class="text-danger  row" style="font-size: 0.8rem" th:if="${#fields.hasErrors('curp')}" th:errors="${Usuario.curp}"/>

                </div>

                <div class="row" style="" >
                    <span class="input-group-text fw-bold">Rol:</span>
                    <select class="form-control" th:field="*{Rol.idRol}" onblur="validarRol(this)">
                        <option value=0>Elige tu rol</option>
                        <option th:each="rol:${Roles}"  th:text="${rol.nombre}" th:value="${rol.idRol}" ></option>
                    </select>
                    <span class="error-message mb-3 row" style="font-size: 0.8rem" />
                    <span class="text-danger mb-3 row" style="font-size: 0.8rem" th:if="${#fields.hasErrors('rol.idRol')}" th:errors="$(Usuario.idRol}" />

                </div>



                <!--<button type="submit" class="btn btn-success row col-12" th:if="${(Usuario.idUsuario !=0 && Usuario.direcciones[0].idDireccion == -1)}" >Actualizar</button>-->
            </section >
            <hr>




            <!--SECCION DE LA DIRECCION-->
            <section class="container " th:if="${(Usuario.idUsuario == 0 && Usuario.direcciones[0].idDireccion == 0)
                     || (Usuario.idUsuario !=0 && Usuario.direcciones[0].IdDireccion > 0 )
                     || (Usuario.IdUsuario != 0 && Usuario.direcciones[0].IdDireccion == 0) }">

                <h3 style="font-weight: bold">DIRECCIÓN DEL USUARIO</h3>


                <div class="row mb-3" style="">
                    <label class="input-group-text fw-bold">calle</label>
                    <input type="text" class="form-control mb-3" th:field="${Usuario.direcciones[0].calle}" onkeypress="validarCalle(event, this)">
                    <span class="error-message mb-3 row" style="font-size: 0.8rem" />
                    <span class="text-danger mb-3 row" style="font-size: 0.8rem" th:if="${#fields.hasErrors('direcciones[0].calle')}" th:errors="$(direcciones[0].calle)"/>
                </div>

                <div class="row  mb-3" style="">

                    <label class="input-group-text fw-bold">No.Interior</label>
                    <input type="text" class="form-control mb-3 " th:field="*{direcciones[0].numeroInterior}">
                </div>

                <div class="row  mb-3" style="">
                    <label class="input-group-text fw-bold">No.Exterior</label>
                    <input type="text" class="form-control" th:field="*{direcciones[0].numeroExterior}">

                </div>

                <!--            <div class="row mb-3" style="">
                
                                <label class="input-group-text fw-bold ">Id Colonia</label>
                                <input type="text" class="form-control " th:field="*{direcciones[0].colonia.idColonia}">
                
                            </div>-->

                <div class="row  mb-3" style="">
                    <label class="input-group-text fw-bold" >Pais:</label>
                    <select class="form-control" id="ddlPais" >
                        <!--th:field="${Usuario.direcciones[0].colonia.municipio.estado.pais}"-->
                        <!--                     usuario.direcciones.get(0).getColonia().getMunicipio().getEstado().pais.setIdPais(resultSet.getInt("IDPAIS"));-->
                        <option value="0">Elige un pais de la lista</option>
                        <option th:each="pais:${Paises}" th:value="${pais.idPais}" th:text="${pais.nombre}"></option>
                        <!--<option  th:value="${pais.IdPais}" th:text="${pais.Nombre}"></option>-->
                    </select>
                </div>

                <div class="row mb-3">
                    <label class="input-group-text fw-bold" >Estado:</label>
                    <select  class="form-control" id="ddlEstado">
                        <option value=0>Selecciona un Estado</option>

                    </select>
                </div>

                <div class="row mb-3">
                    <label class="input-group-text fw-bold " >Municipio:</label>
                    <select  class="form-control" id="ddlMunicipio"  th:field="*{direcciones[0].colonia.municipio.idMunicipio}">
                        <option value=0>Selecciona un Municipio</option>
                    </select>
                </div>

                <div class="row mb-3">
                    <label class="input-group-text fw-bold" >Colonia:</label>
                    <select class="form-control" id="ddlColonia" th:field="*{direcciones[0].colonia.idColonia}">
                        <option value=0>Selecciona la Colonia</option>
                    </select>
                </div>







                <!--<button type="submit" class="btn btn-success col-12" th:if="${(Usuario.idUsuario !=0 && Usuario.direcciones[0].IdDireccion > 0 )}">Editar</button>--> 
            </section>

            <button type="submit" class="btn btn-success col-12">Guardar</button> 




        </form>

        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

        <script>
                        function soloLetras(event, input) {

                        let key = event.key;
                        let regExpres = /[a-zA-ZÁÉÍÓÚáéíóú ]+/;
                        let ascci = event.charCode;
                        if (ascci == 32 || ascci >= 65 && ascci <= 90 || ascci >= 97 && ascci <= 122) {
                        if (regExpres.test(key)) {
                        $(input).removeClass("invalidText").addClass("correct");
                        $(input).siblings(".error-message").text("");
                        }

                        } else {
                        $(input).removeClass("correct").addClass("invalidText");
                        $(input).siblings(".error-message").text(" Solo se permiten letras");
                        setTimeout(() => {
                        $(input).removeClass("invalidText");
                        $(input).siblings(".error-message").text("");
                        }, 3000);
                        event.preventDefault();
                        }


                        }


                        function emailValidator(thisInput) {
                        let cadena = $(thisInput).val();
                        const regExpres = /^([A-Z|a-z|0-9](\.|_){0,1})+[A-Z|a-z|0-9]\@([A-Z|a-z|0-9])+((\.){0,1}[A-Z|a-z|0-9]){2}\.[a-z]{2,3}$/;
                        if (regExpres.test(cadena)) {
                        console.log("Correo valido");
                        $(thisInput).removeClass("invalidText").addClass("correct");
                        setTimeout(() => {
                        $(thisInput).removeClass("correct");
                        }, 4000);
                        } else {
                        $(thisInput).addClass("invalidText");
                        $("#emailMessage").text("Correo no valido");
                        console.log("Correo no valido");
                        setTimeout(() => {

                        $("#emailMessage").text("");
                        $(thisInput).removeClass("invalidText");
                        }, 4000);
                        }
                        }

                        function passVal(thisInput) {
                        const regEx = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/;
                        const inputText = $(thisInput).val();
                        if (regEx.test(inputText) && inputText.length < 50) {
                        $(thisInput).removeClass("invalidText").addClass("correct");
                        //                                $(thisInput).siblings(".error-message").text("Correcto");
                        setTimeout(() => {
                        $(thisInput).removeClass("correct");
                        }, 3700);
                        console.log("Contraseña valida");
                        } else {

                        $(thisInput).removeClass("correct").addClass("invalidText");
                        $(thisInput).siblings(".error-message").text("Contraseña no valida");
                        setTimeout(() => {
                        //                                     $(thisInput).removeClass("invalidText");
                        $(thisInput).siblings(".error-message").text("");
                        }, 3700);
                        console.log("Contraseña no valida");
                        console.log("Escribe una contraseña más corta");
                        }


                        }
                        function validarNumero(thisInput) {

                        const regExp = /^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$/;
                        const cadena = $(thisInput).val();
                        if (regExp.test(cadena) && cadena.length < 12) {
                        $(thisInput).removeClass("invalidText").addClass("correct");
                        //                                $(thisInput).siblings(".error-message").text("Correcto");
                        setTimeout(() => {
                        $(thisInput).removeClass("correct");
                        }, 3700);
                        } else {
                        $(thisInput).removeClass("correct").addClass("invalidText");
                        $(thisInput).siblings(".error-message").text("Numero no valido");
                        setTimeout(() => {
                        //                                     $(thisInput).removeClass("invalidText");
                        $(thisInput).siblings(".error-message").text("");
                        }, 3700);
                        }


                        }

                        function validarSexo() {
                        const seleccionado = $('input[name = "sexo"]:checked');
                        if (seleccionado.length == 0) {
                        console.log("Selecciona una opción");
                        }


                        }

                        function validarNacimiento(thisInput) {
                        const fecha = $(thisInput).val();
                        const regEx = /([\d]+)([\-\./])([\d]+)([\-\./])([\d]+)|((Jan(|uary)|Feb(|ruary)|Mar(|ch)|Apr(|il)|May|Jun(|e)|Jul(|y)|Aug(|ust)|Sept(|ember)|Oct(|ober)|(Nov|Dec)(|ember))([\s\-])(|([\d]+){1,2}([\s\-]|\, ))([\d]+){4})/;
                        if (regEx.test(fecha)) {
                        $(thisInput).removeClass("invalidText").addClass("correct");
                        //                               
                        setTimeout(() => {
                        $(thisInput).removeClass("correct");
                        }, 3700);
                        } else {
                        $(thisInput).removeClass("correct").addClass("invalidText");
                        $(thisInput).siblings(".error-message").text("Fecha no valida");
                        setTimeout(() => {
                        //                                     $(thisInput).removeClass("invalidText");
                        $(thisInput).siblings(".error-message").text("");
                        }, 3700);
                        }

                        }

                        function validarCurp(thisInput) {
                        const regExp = /[A-Z]{1}[AEIOU]{1}[A-Z]{2}[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM]{1}(AS|BC|BS|CC|CS|CH|CL|CM|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[B-DF-HJ-NP-TV-Z]{3}[0-9A-Z]{1}[0-9]{1}/;
                        const texto = $(thisInput).val();
                        if (regExp.test(texto)) {
                        $(thisInput).removeClass("invalidText").addClass("correct");
                        //                                $(thisInput).siblings(".error-message").text("Correcto");
                        setTimeout(() => {
                        $(thisInput).removeClass("correct");
                        }, 3700);
                        } else {
                        $(thisInput).removeClass("correct").addClass("invalidText");
                        $(thisInput).siblings(".error-message").text("CURP no valida");
                        setTimeout(() => {
                        //                                     $(thisInput).removeClass("invalidText");
                        $(thisInput).siblings(".error-message").text("");
                        }, 3700);
                        }

                        }

                        function validarRol(thisInput) {
                        const valor = $(thisInput).val();
                        if (valor != 0) {
                        $(thisInput).removeClass("invalidText").addClass("correct");
                        setTimeout(() => {
                        $(thisInput).removeClass("correct");
                        }, 3700);
                        } else {
                        $(thisInput).removeClass("correct").addClass("invalidText");
                        $(thisInput).siblings(".error-message").text("rol no valido");
                        setTimeout(() => {
                        //                                     $(thisInput).removeClass("invalidText");
                        $(thisInput).siblings(".error-message").text("");
                        }, 3700);
                        }
                        }

                        function validarCalle(event, thisInput) {
                        const regExp = "/[a-zA-ZÁÉÍÓÚáéíóú0-9 ]+/";
                        const letra = event.key;
                        if (regExp.test(letra)) {
                        $(thisInput).removeClass("invalidText").addClass("correct");
                        //                                $(thisInput).siblings(".error-message").text("Correcto");
                        setTimeout(() => {
                        $(thisInput).removeClass("correct");
                        }, 3700);
                        } else {
                        $(thisInput).removeClass("correct").addClass("invalidText");
                        $(thisInput).siblings(".error-message").text("Numero no valido");
                        setTimeout(() => {
                        //                                     $(thisInput).removeClass("invalidText");
                        $(thisInput).siblings(".error-message").text("");
                        }, 3700);
                        event.preventDefault();
                        }
                        }

                        $(document).ready(function () {
                        $("#ddlPais").change(function () {

                        if ($("#ddlPais").val() == 0) {
                        $("#ddlEstado").empty();
                        $("#ddlEstado").append(" <option>Selecciona un Estado</option>");
                        } else {

                        //ajax para manejra peticiones asincronas
                        $.ajax({
                            url: "/Usuario/getEstadoByPais/" + $("#ddlPais").val(), //url de la peticion
                            method: "GET", //tipo de accion
                            dataType: 'json', // tipos de datos
                            //Cuando la peticion fue exitosa:
                            success: function (data, textStatus, jqXHR) {
                                if (data.Correct) {
                                //vacia el ddl para que no se dupliquen al ejecutar varias veces la acción
                                $("#ddlEstado").empty();
                                $("#ddlEstado").append(" <option value=0>Selecciona un Estado</option>");
                                //itera sobre la lista de objetos y ejecuta la funcion de al lado
                                $.each(data.Objects, function (i, estado) {
                                //En el input con el id: ddlEstado agrega una option con valores traidos de la petición
                                $("#ddlEstado").append("<option value=" + estado.idEstado + ">" + estado.nombre + "</option>");
                                });
                                }
                                },
                                //Cuando hubo error en la petición 
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert(textStatus);
                                }





                        });
                        }




                        });
                        });
                        $(document).ready(function () {

                        $("#ddlEstado").change(function () {

                        if ($("#ddlEstado").val() == 0) {
                        $("#ddlMunicipio").empty();
                        $("#ddlMunicipio").append(" <option value=0>Selecciona un Municipio</option>");
                        } else {
                        $.ajax({
                        url: "/Usuario/getMunicipioByEstado/" + $("#ddlEstado").val(),
                                method: "GET", //tipo de accion
                                dataType: 'json', // tipos de datos
                                success: function (data, textStatus, jqXHR) {

                                if (data.Correct) {
                                $("#ddlMunicipio").empty();
                                $("#ddlMunicipio").append(" <option value=0>Selecciona un Municipio</option>");
                                $.each(data.Objects, function (i, municipio) {
                                //                                                En el input con el id: ddlEstado agrega una option con valores traidos de la petición
                                $("#ddlMunicipio").append("<option value=" + municipio.idMunicipio + ">" + municipio.nombre + "</option>");
                                });
                                }

                                },
                                error: function () {
                                alert("Hubo un error...");
                                }
                        });
                        }
                        });
                        });
                        $(document).ready(function () {
                        $("#ddlMunicipio").change(function () {

                        if ($("#ddlMunicipio").val() == 0) {
                        $("#ddlColonia").empty();
                        $("#ddlColonia").append(" <option value=0>Selecciona la Colonia</option>");
                        } else {
                        //                                
                        $.ajax({
                        url: "/Usuario/getColoniaByMunicipio/" + $("#ddlMunicipio").val(),
                                method: "GET",
                                dataType: 'json',
                                success: function (data, textStatus, jqXHR) {
                                if (data.Correct) {
                                $("#ddlColonia").empty();
                                $("#ddlColonia").append(" <option value=0>Selecciona la Colonia</option>");
                                $.each(data.Objects, function (i, colonia) {
                                $("#ddlColonia").append("<option value=" + colonia.idColonia + ">" + colonia.nombre + "</option>");
                                });
                                //                                             
                                }
                                ;
                                //                                         if (data.Correct) {
                                //                                            $("#ddlMunicipio").empty();
                                //                                            $("#ddlMunicipio").append(" <option value=0>Selecciona un Municipio</option>");
                                //                                            $.each(data.Objects, function (i, municipio) {
                                ////                                                En el input con el id: ddlEstado agrega una option con valores traidos de la petición
                                //                                                $("#ddlMunicipio").append("<option value=" + municipio.idMunicipio + ">" + municipio.nombre + "</option>");
                                //                                            });
                                //                                        }
                                },
                                error: function () {
                                alert("Algo salió mal...");
                                }
                        });
                        }
                        });
                        });
        </script>

        




    </body>
</html>
